@{
    ViewData["Title"] = "Home Page";
}

<listele ogeler="@ViewBag.dizi" />

<listele ogeler="dizi" />


<ul class="list-group">
    <li class="list-group-item">Ankara</li>
    <li class="list-group-item">İzmir</li>
    <li class="list-group-item">Bursa</li>
    <li class="list-group-item">İstanbul</li>
</ul>